@import "../../../../../public/assets/css/buttons/buttons.css";
@import "../../../../../public/assets/css/buttons/button-colors.css";

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
}

.card img {
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 1.5rem;
}

.rounded-top-4 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.img-fixed {
  height: 180px;
  /* altura fija */
  object-fit: cover;
  /* recorta sin deformar */
}

.profile-pic {
  background-color: #80cbc4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  left: 5%;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.profile-pic img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
}