@if(userPost) {

  <div class="card shadow-sm border-0 rounded-4">

    <div class="position-relative">
      <img [src]="post.images_url ? getImagePath(post.images_url[0]): 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'" class="card-img-top rounded-top-4 img-fixed" alt="...">
      <span class="badge position-absolute top-0 start-0 m-2 px-3 py-2 rounded-pill shadow" [class]="post.type|postTypeTag">
        {{ post.type|postTypeEnum }}
      </span>
    </div>

    <div class="card-body">

        <!-- Avatar + Nombre + Fecha -->
        <div class="d-flex align-items-center mb-3">
          <img [src]="userPost.image_url ? getImagePath(userPost.image_url) : 'https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png'" class="rounded-circle me-2" width="40" height="40" alt="avatar">
          <div>
            <div class="fw-semibold">{{userPost.first_name}} {{userPost.last_name}}</div>
            <small class="text-muted">Publicado {{post.created_at|timeAgo}}</small>
          </div>
        </div>

        <!-- Título + Descripción -->
        <h5 class="card-title fw-bold">{{post.title|truncate:20|uppercase}}</h5>
        <p class="card-text text-muted">{{post.description|truncate:30}}</p>

        <!-- Botón -->
        <button class="btn btn-soft-teal" (click)="detail(post.uuid)">
          Leer más <span class="material-icons">keyboard_arrow_right</span> 
        </button>
        <!-- <span class="material-symbols-outlined">
keyboard_double_arrow_right
</span> -->

        <!-- <button class="btn btn-success rounded-pill">Leer más</button> -->
      </div>
    </div>
}
@else {
  <skeleton />
}