@if(userPost) {

  <div class="card shadow-sm border-0 rounded-4">

    <div class="position-relative">
      <!-- <img src="../../../../../public/assets/img/no_image.png" alt=""> -->
      <img [src]="post.images_url ? getImagePath(post.images_url[0]): 'assets/img/no_image.png'" class="card-img-top rounded-top-4 img-fixed" alt="...">
      <span class="badge position-absolute top-0 start-0 m-2 px-3 py-2 rounded-pill shadow" [class]="post.type|postTypeTag">
        {{ post.type|postTypeEnum }}
      </span>
    </div>

    <div class="card-body">

        <div class="d-flex align-items-center mb-3">
          <div class="profile-pic rounded-circle me-2">
            @if(userPost.image_url) {
              <img [src]="getImagePath(userPost.image_url)" alt="avatar">
            }
            @else {
              <span>{{userPost.username}}</span>
            }
          </div>
          <div>
            <div class="fw-semibold">{{userPost.username}}</div>
            <small class="text-muted">{{post.created_at|timeAgo}}</small>
          </div>
        </div>

        <small>{{post.city}}, {{post.locality}}</small>
        <h5 class="card-title fw-bold">{{post.title|truncate:15|uppercase}}</h5>
        <p class="card-text text-muted">{{post.description|truncate:30}}</p>

        <button class="btn soft-teal" [routerLink]="['/posts', post.slug]">
          Leer más <span class="material-icons">keyboard_arrow_right</span> 
        </button>
      </div>
    </div>
}
@else {
  <skeleton />
}