<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm px-4 py-2">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <div class="navbar-start d-flex align-items-center">
      <img src="assets/img/logo2.png" alt="Logo" width="50" height="50" class="me-2">
    </div>
    
    <div class="navbar-end d-flex align-items-center gap-3">
      @if(authService.userLogin) {
        @for (item of items; track $index) {
          <p-button pRipple [label]="item.label" variant="text" [icon]="item.icon ? item.icon : ''" severity="contrast"  (click)="redirect(item.route, true)" />
        }
        <p-button pRipple label="Mi cuenta" variant="text" icon="pi pi-user" severity="contrast"
        (click)="redirectProfile()" />
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Buscar" />
        </p-iconfield>
        <p-button pRipple label="Cerrar Sesión" variant="text" icon="pi pi-times" severity="danger"
        (click)="logout()" />
      }
      @else {
        <p-button pRipple label="Iniciar Sesión" variant="text" icon="pi pi-sign-in" severity="contrast"  (click)="redirect('/auth/sign-in')" />
        <p-button pRipple label="Registrar" variant="text" icon="pi pi-user-plus" severity="contrast"  (click)="redirect('auth/sign-up')" />
      }
    </div>
  </div>
</nav>
