.login-page {
  min-height: 100vh;
  /* verde de fondo */
  /* background-color: #a8c8a5;  */
}

.login-card {
  background-color: #f7f4ef; /* color crema */
  max-width: 1000px;
  width: 90%;
}

.form-section {
  background-color: white;
}

.image-section {
  background-color: #f7f4ef;
}
