<navbar />

@if (user && authService.userLogin) {

    <div class="profile-container">
         <div class="cover"></div>

    @if(user.uuid == authService.userLogin.uuid) {
        <button class="btn top-right-btn soft-orange" routerLink="edit-profile">
            <span class="material-icons nunito-bold">edit</span> Editar perfil
        </button>
    }


    <div class="profile-pic">
        @if(user.image_url) {
            <img [src]="getImagePath(user.image_url)" alt="profile">
        }
        @else {
            <span>{{user.username}}</span>
        }
    </div>
    
    <div class="info">
        <h2 class="nunito-bold">{{user.username}}</h2>
        <div class="social-pills nunito-bold">
            @if(user.facebook_url) {
                <span class="pill soft-navy">
                    <a [href]="user.facebook_url" target="_blank">
                        <i class="fa-brands fa-facebook"></i> Facebook
                    </a>
                </span>
            }
            @if(user.twitter_url) {
                <span class="pill soft-navy">
                    <a [href]="user.twitter_url" target="_blank">
                        <i class="fa-brands fa-x-twitter"></i> Twitter
                    </a>
                </span>
            }
            @if(user.instagram_url) {
                <span class="pill soft-navy">
                    <a [href]="user.instagram_url" target="_blank">
                        <i class="fa-brands fa-instagram"></i> Instagram
                    </a>
                </span>
            }
            @if(user.linkedin_url) {
                <span class="pill soft-navy">
                    <a [href]="user.linkedin_url" target="_blank">
                        <i class="fa-brands fa-linkedin"></i> Linkedin
                    </a>
                </span>
            }
            @if(user) {
                <span class="pill soft-navy">
                    <i class="fa-solid fa-phone"></i> Teléfono
                </span>
            }
        </div>
    </div>
    </div>
    
    <div class="col-md-12">
        <div>
            @if(postsPaginate) {
                <list-posts [postsPaginate]="postsPaginate" [isAuthenticated]="authService.userLogin.username == username"/>
            }
            @else {
                <h6>Todavía no realizo publicaciones</h6>
            }
        </div>
    </div>

}
@else {
    <user-account-skeleton />
}