<navbar />

@if (user) {

    <div class="profile-container">
        <div class="cover"></div>

        <div class="profile-pic">
            <img [src]="user.image_url ? getImagePath(user.image_url) : 'https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png'" alt="profile">
        </div>
            
        <div class="info">
            <h2 class="nunito-bold">{{user.first_name}} {{user.last_name}}</h2>
            <div class="social-pills">
                <span class="pill nunito-bold">
                    <i class="fa-brands fa-facebook"></i> Facebook
                </span>
                <span class="pill nunito-bold">
                    <i class="fa-brands fa-x-twitter"></i> Twitter
                </span>
                <span class="pill nunito-bold">
                    <i class="fa-brands fa-instagram"></i> Instagram
                </span>
                <span class="pill nunito-bold">
                    <i class="fa-brands fa-linkedin"></i> Linkedin
                </span>
                <span class="pill nunito-bold">
                    <i class="fa-solid fa-phone"></i> Teléfono
                </span>
                <span class="pill nunito-bold">
                    <i class="fa-solid fa-envelope"></i> Correo Electrónico
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div>
            <h4>PUBLICACIONES</h4>
            @if(postsPaginate) {
                <list-posts [postsPaginate]="postsPaginate" />
            }
            @else {
                <h6>Todavía no realizo publicaciones</h6>
            }
        </div>
    </div>

}
@else {
    <skeleton />
}