<div class="login-container">
    <h3 class="text-center mb-4">Registrar</h3>
    <form [formGroup]="frm" (ngSubmit)="register()">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input class="form-control" type="email" placeholder="Ingrese el correo electrónico" formControlName="email"
                name="email" />
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">Nombre</label>
            <input class="form-control" type="text" placeholder="Ingrese el nombre" formControlName="first_name"
                name="first_name" />
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input class="form-control" type="text" placeholder="Ingrese el apellido" formControlName="last_name"
                name="last_name" />
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Tipo</label>
            <select class="form-control" name="type" formControlName="type" id="">
                @for (enum of typeEnum; track $index) {
                    <option value="enum">{{enum}}</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input class="form-control" type="password" placeholder="Ingrese la contraseña" formControlName="password"
                name="password" />
        </div>

        <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirmar contraseña</label>
            <input class="form-control" type="password" placeholder="Confirme la contraseña"
                formControlName="password_confirmation" />
        </div>

        <button type="submit" class="btn btn-login w-100 text-white">
            Registrar
        </button>
    </form>

</div>