<navbar />

<loader [isLoading]="post == null"/>

@if (post && userPost) {
<div class="post-container">
    <div class="d-flex">
        <div class="post-image">
            @if(images) {
            <p-galleria [value]="images" [circular]="true" [showItemNavigators]="true"
                [showItemNavigatorsOnHover]="true" [showIndicators]="true" [showIndicatorsOnItem]="true"
                [changeItemOnIndicatorHover]="true" [showThumbnails]="false"
                [containerStyle]="{ 'max-width': '100%', 'border': 'none' }">
                <ng-template pTemplate="item" let-item>
                    <div class="galleria-img-wrapper">
                        <img [src]="item.itemImageSrc" />
                    </div>
                </ng-template>
            </p-galleria>
            }
            @else {
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
                alt="Post image">
            }
        </div>
        <div class="post-details">
            <div class="h-75">
                <h2 class="post-title">{{ post.title | uppercase }}</h2>
                <p class="post-meta">Publicado por <span>{{userPost.first_name}} {{userPost.last_name}}</span> • {{
                    post.created_at | timeAgo }}</p>
                <p class="post-description">
                    {{ post.description }}
                </p>
                <span class="material-icons">location_on</span> {{ post.city }}, {{ post.locality }}
            </div>
            <div class="post-actions d-flex">
                <button class="btn soft-teal" [routerLink]="['/accounts', userPost.uuid]" routerLinkActive="router-link-active">
                    Ver perfil <span class="material-icons">arrow_forward</span>
                </button>
            </div>
        </div>
    </div>
</div>
}
@else {
    <post-detail-skeleton />
}