@import "../../../../../public/assets/css/buttons/buttons.css";
@import "../../../../../public/assets/css/buttons/button-colors.css";

.edit-container {
  display: flex;
  min-height: 100vh;
}

.form-section {
  flex: 1;
  background-color: #fff;
}

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.image-section {
  flex: 1;
  background-color: #f7f4ef;
}

.illustration {
  max-width: 70%;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .image-section {
    order: -1;
    padding: 2rem 0;
  }
}