<navbar />

<div class="edit-container">

  <div class="form-section d-flex flex-column justify-content-center p-5">

    <div class="form-wrapper">
      <h3 class="fw-bold mb-3">Editar perfil</h3>

      <form [formGroup]="frm" (ngSubmit)="update()">

        <div class="mb-3">
          <label for="text" class="form-label">Nombre *</label>
          <input type="text" class="form-control" placeholder="Nombre" formControlName="first_name">
          <!-- @if(verifyControlErrors('first_name')){
          <alert [message]="getErrorMessage('first_name')" />
          } -->
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Apellido *</label>
          <input type="text" class="form-control" placeholder="Apellido" formControlName="last_name">
          <!-- @if(verifyControlErrors('last_name')){
          <alert [message]="getErrorMessage('last_name')" />
          } -->
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Correo electrónico *</label>
          <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
          <!-- @if(verifyControlErrors('email')){
          <alert [message]="getErrorMessage('email')" />
          } -->
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="text" class="form-label">Contraseña *</label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
          <!-- @if(verifyControlErrors('password')){
          <alert [message]="getErrorMessage('password')" />
          } -->
        </div>

        <div class="input-group mb-3" style="max-width: 400px;">
          <span class="input-group-text"><i class="fa-brands fa-instagram"></i> instagram.com/</span>
          <input type="text" class="form-control" placeholder="usuario" formControlName="instagram_url">
        </div>
        <div class="input-group mb-3" style="max-width: 400px;">
          <span class="input-group-text"><i class="fa-brands fa-x-twitter"></i> twitter.com/</span>
          <input type="text" class="form-control" placeholder="usuario" formControlName="twitter_url">
        </div>
        <div class="input-group mb-3" style="max-width: 400px;">
          <span class="input-group-text"><i class="fa-brands fa-facebook"></i> facebook.com/</span>
          <input type="text" class="form-control" placeholder="usuario" formControlName="facebook_url">
        </div>
        <div class="input-group mb-3" style="max-width: 400px;">
          <span class="input-group-text"><i class="fa-brands fa-linkedin"></i> linkedin.com/in/</span>
          <input type="text" class="form-control" placeholder="usuario" formControlName="linkedin_url">
        </div>
        
        <div class="d-flex justify-content-between">
          <button type="button" class="btn soft-red" (click)="back()">
            <span class="material-icons">close</span> Cancelar
          </button>
          <button type="submit" class="btn soft-yellow" [disabled]="frm.invalid">
            <span class="material-icons">cached</span> Actualizar
          </button>
        </div>

      </form>
    </div>

  </div>

  <div class="image-section d-flex align-items-center justify-content-center">
    <img src="assets/img/adoption_2.png" alt="Adoption Illustration" class="img-fluid illustration">
  </div>

</div>